<div x-data="{ mobileOpen: false, mobileMode: true, submenuOpen: {} }">
    <header class="bg-green-800 text-white">
        <div class="max-w-6xl mx-auto px-4 flex justify-between items-center">
            <a href="{{ site.url }}" class="hover:underline flex items-center gap-2">
                <img src="{{ site.theme.link }}/assets/logo.png" alt="{{ site.name }}" class="h-16 object-contain">
            </a>
            <!-- Hamburger -->
            <button 
            class="md:hidden flex items-center"
            @click="mobileOpen = !mobileOpen"
            :aria-expanded="mobileOpen.toString()"
            aria-label="Toggle Menu"
            >
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                    viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round"
                    d="M4 6h16M4 12h16M4 18h16" />
                </svg>
            </button>

        <!-- Desktop Menu -->
            <nav class="hidden md:block">
                {% include "menu.twig" with { items: menu.get_items } %}
            </nav>
        </div>
    </header>
    <!-- Off-Canvas Mobile Menu Wrapper -->
    <div
        x-show="mobileOpen"
        @click="mobileOpen = false"
        class="fixed inset-0 bg-black/10 backdrop-blur-sm z-40 md:hidden transition-all duration-300"
        style="display: none;"
    ></div>
    <div
        x-show="mobileOpen"
        @click.away="mobileOpen = false"
        x-transition:enter="transition ease-out duration-300"
        x-transition:enter-start="translate-x-full opacity-0"
        x-transition:enter-end="translate-x-0 opacity-100"
        x-transition:leave="transition ease-in duration-200"
        x-transition:leave-start="translate-x-0 opacity-100"
        x-transition:leave-end="translate-x-full opacity-0"
        class="fixed top-0 right-0 h-full w-64 bg-white z-50 shadow-lg overflow-y-auto md:hidden"
        style="display: none;"
    >
        <div class="flex justify-end p-4">
            <button @click="mobileOpen = false" aria-label="Close Menu">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-zinc-700" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
            </svg>
            </button>
        </div>

        <nav class="px-4 pb-6 text-zinc-800">
            {% include "menu.twig" with { items: menu.get_items, mobile: true } %}
        </nav>
    </div>
</div>
